/*STYLE*/
.row {
    margin-top: 25px;
    margin-bottom: 25px;
}

/*ALL*/

.navigation{
    padding-right: 15px;
    margin-top: 20px;
}

button.accordion {
    background-color: orange;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 50px;
    text-align: center;
    border: none;
    transition: 0.4s;
    border-radius: 25px;
    float: right;
}

button.accordion.active, button.accordion:hover {
    background-color: black;
    color: orange;
}

.nav {
    padding: 20px;
    background-color: black;
    color: orange;
    display: none;
    float: right;
}

/*LOGIN*/

#backg{
    width: 100%;
    min-height: 760px;
    background: url(../GYM/img/africawall.jpg);
    background-size: cover;
    background-position: center;
}

#logo img{
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-top: 25px;
}

#welcome button{
    margin-top: 20px;
}

#welcome{
    float: left;
}

#pop{
    float: right;
}

#popcorn{
    float: left;
}

#login{
    width: 300px;
    height: 600px;
    margin-top: 50px;
    background: url(../img/black.png);
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

form{
    margin-left: 30px;
    color: orange;
}

button{
    margin-top: 15px;
    margin-left: 30px;
	
}

.name{
    margin-left: 65px;
}

.password{
    margin-left: 65px;
}

.password2{
    -webkit-text-security: disc;
}

.mail2{
    margin-left: 10px;
}

input{
    margin-left: 25px;
}

.mail2{
    margin-left: 26px;
}

/*HOME*/

#backg2{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background: url(../img/backss.jpg);
    background-size: cover;
    background-position: center;
}

.backbox{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    background: url(../img/black.png);
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

#Movies{
    float: left;
    padding-left: 70px;
}

#Series{
    float: left;
    padding-left: 70px;
}

#Cartoons{
    float: left;
    padding-left: 70px;
}

#Cartoons2{
    float: left;
    padding-left: 70px;
}

.list img{
    width: 100px;
    height: 170px;
}

#welcome h1, h2, h3{
    color: orange;
    padding-left: 55px;
    padding-right: 25px;
}

#pop{
    padding-right: 15px;
}

/*LIBRARY*/

#backg3{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    background: url(../img/backss.jpg);
    background-size: cover;
    background-position: center;
}

.backbox3{
    width: 100%;
    min-height: 3880px;;
    padding-right: 80px;
    padding-bottom: 10px;
    background: url(../img/black.png);
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

.filtercontent{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.well{
    margin-top: 10px;
}

#list h5{
    margin-left: -15px;
}

#forms1{
    text-align: center;
    float: center;
}

/*WATCH*/

#backg4{
    width: 100%;
    min-height: 860px;
    background: url(../img/backss.jpg);
    background-size: cover;
    background-position: center;
}

.backbox2{
    width: 100%;
    min-height: 835px;
    padding-right: 80px;
    padding-bottom: 10px;
    background: url(../img/black.png);
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

#message .alert{
    margin-left: 40px;
}

#Movies h5{
    margin-left: -15px;
}

#Movies button{
    margin-left: -5px;
    margin-right: 5px;
}

#Series h5{
    margin-left: -15px;
}

#Series button{
    margin-left: -5px;
    margin-right: 5px;
}

#Cartoons h5{
    margin-left: -15px;
}

#Cartoons button{
    margin-left: -5px;
    margin-right: 5px;
}

#Cartoons2 h5{
    margin-left: -15px;
}

#Cartoons2 button{
    margin-left: -5px;
    margin-right: 5px;
}

/*MOVIE PAGES*/

#info{
    width: 100%;
    text-align: center;
}

#information{
    margin-left: 20px;
    margin-right: 20px;
}

#backg5{
    width: 100%;
    min-height: 890px;
    background: url(../img/wonderw.jpg);
    background-size: cover;
    background-position: center;
}

#backg6{
    width: 100%;
    min-height: 890px;
    background: url(../img/ThisisUs-S2-ShowImage-1920x1080-KO.jpg);
    background-size: cover;
    background-position: center;
}

#backg7{
    width: 100%;
    min-height: 890px;
    background: url(../img/landscape-1493164396-untitled.jpg);
    background-size: cover;
    background-position: center;
}

#backg8{
    width: 100%;
    min-height: 890px;
    background: url(../img/6360498178139720611073070814_Rick%20and%20Morty.jpg);
    background-size: cover;
    background-position: center;
}

#backg9{
    width: 100%;
    min-height: 890px;
    background: url(../img/adventure_time.jpg);
    background-size: cover;
    background-position: center;
}

#backg10{
    width: 100%;
    min-height: 890px;
    background: url(../img/6-family-pt.-1__120614222311.jpg);
    background-size: cover;
    background-position: center;
}

#backg11{
    width: 100%;
    min-height: 890px;
    background: url(../img/BB_FinalEps.jpg);
    background-size: cover;
    background-position: center;
}

#backg12{
    width: 100%;
    min-height: 890px;
    background: url(../img/rFtsE7Lhlc2jRWF7SRAU0fvrveQ.jpg);
    background-size: cover;
    background-position: center;
}

#backg13{
    width: 100%;
    min-height: 890px;
    background: url(../img/Avatar-2.jpg);
    background-size: cover;
    background-position: center;
}

#backg14{
    width: 100%;
    min-height: 890px;
    background: url(../img/5760_1.jpg);
    background-size: cover;
    background-position: center;
}

#backg15{
    width: 100%;
    min-height: 890px;
    background: url(../img/cou.jpg);
    background-size: cover;
    background-position: center;
}

#backg16{
    width: 100%;
    min-height: 890px;
    background: url(../img/rs-216690-MSDMEME_EC005_H.jpg);
    background-size: cover;
    background-position: center;
}

#backg17{
    width: 100%;
    min-height: 890px;
    background: url(../img/forrest-gump.jpg);
    background-size: cover;
    background-position: center;
}

#backg18{
    width: 100%;
    min-height: 890px;
    background: url(../img/ffc39ebe6c87b384c277ca8ce3a63ba4.jpg);
    background-size: cover;
    background-position: center;
}

#backg19{
    width: 100%;
    min-height: 890px;
    background: url(../img/the-breakfast-club-DI-06.jpg);
    background-size: cover;
    background-position: center;
}

#backg20{
    width: 100%;
    min-height: 890px;
    background: url(../img/et_the_extra_terrestrial_thumb800.webp);
    background-size: cover;
    background-position: center;
}

#backg21{
    width: 100%;
    min-height: 890px;
    background: url(../img/7773769005_star-wars.jpg);
    background-size: cover;
    background-position: center;
}

#backg22{
    width: 100%;
    min-height: 890px;
    background: url(../img/jawsrevenge1987.jpg);
    background-size: cover;
    background-position: center;
}


/*TEXT*/
h1{
    text-align: center;
}

h5{
    padding-left: 20px;
    font-size: 10px;
}

<<<<<<< HEAD
button a{
	color: black;
=======
#information h5{
    color: orange;
    font-size: 20px;
>>>>>>> bfc04b5dd04bfb0ca10f0ddac3bdf70d46bf3c35
}

a{
    color: darkorange;
}

/*Jonathan edits*/

